@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,300&family=JetBrains+Mono:wght@300&display=swap");

#root {
  width: 100vw;
  --green: #7eba44;
  --charcoal: #3c4344;
  --gray: #dadcde;
  --light-charcoal: #828486;
  font-family: "Barlow", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#home {
  background-color: var(--green);
}

#nav {
  background-color: var(--charcoal);
  width: 100%;
  overflow: visible;
}

.row {
  width: 100%;
}

/* NAV */
#nav a {
  color: var(--gray);
  text-decoration: none;
}

.nav-phone-number {
  width: auto;
  font-size: 30px;
  margin: auto;
  color: var(--gray);
  padding: 0px 20px 0px 0px;
}

.nav-button {
  font-size: 22px;
  text-align: center;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav-item.nav-button {
  padding: 6px 12px;
}

.nav-button:hover {
  text-decoration: underline var(--green) 2px;
  cursor: pointer;
}

.nav-spacer {
  display: flex;
  width: 36vw;
}

.logo-small {
  width: 70px;
  margin: 10px 10px 10px 20px;
}

.logo-small:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#dropdownMenuButton {
  background-color: none;
  color: var(--gray) !important;
  font-size: 22px;
}

#dropdownMenuButton.btn.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  top: 65px;
  background-color: var(--gray);
  border-radius: 0px;
  border: none;
  min-width: 130px;
  max-width: 130px;
  padding: 0px;
  text-align: center;
}

.dropdown-item {
  font-size: 15px;
  color: var(--charcoal) !important;
  min-width: 130px;
  max-width: 130px;
  padding: 9px;
}

#green-stripe {
  width: 100%;
  height: 5px;
  background-color: var(--green);
}

.logo-medium {
  width: 30vw;
}

#navbarNav {
  justify-content: right !important;
}
/* NAV END */

/* PAGE HEADERS */
#pictures {
  background-color: var(--light-charcoal);
  padding-bottom: 8vw;
}

#pictures-header {
  color: var(--gray);
  padding: 8vw 8vw 0vw;
}

#pictures-sub-header {
  color: var(--gray);
  font-size: 20px;
  padding: 0vw 8vw 8vw;
}

#pictures-header-div {
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1693372587/IMG_9012_iktkhf.jpg");
  opacity: 70%;
  background-size: cover;
  background-position-y: 48%;
}

#reviews {
  background-color: var(--gray);
}

#reviews-header {
  color: var(--gray);
  padding: 8vw 8vw 0vw;
}

#reviews-sub-header {
  color: var(--gray);
  font-size: 20px;
  padding: 0vw 8vw 8vw;
}

#reviews-header-div {
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1693372535/IMG_8116_chwikr.jpg");
  opacity: 70%;
  background-size: cover;
  background-position-y: 90%;
}

#who-we-are {
  background-color: var(--light-charcoal);
  padding: 10vw 5vw 10vw 0px;
}

.wwa-header {
  color: var(--gray);
  font-weight: bold;
  overflow: visible;
  font-size: 35px;
}

.wwa-sub-header {
  color: var(--gray);
  font-size: 20px;
  overflow: visible;
  font-family: "JetBrains Mono", monospace;
}

#wwa-text-background {
  padding: 0vw 7vw 7vw;
  text-align: right;
  min-width: 400px;
}

.wwa-picture {
  width: 400px;
}

#our-purpose-text {
  padding: 2vw 7vw 7vw;
  text-align: left;
  min-width: 400px;
}

#what-to-expect {
  background-color: var(--light-charcoal);
}

#phc {
  background-color: var(--green);
}
/* PAGE HEADERS END */

/* PICTURES STYLES */
.photoset-img {
  min-width: 550px;
  min-height: 400px;
  max-height: 700px;
  object-fit: cover;
  padding: 4vw 2vw 4vw;
}

.photoset-row {
  margin: auto;
  padding: 0px 50px 0px;
}

.quote-text {
  padding: 80px 80px 0px;
  color: var(--gray);
}

.quote-credit {
  padding-bottom: 100px;
  color: var(--gray);
  opacity: 70%;
}
/* PICTURES STYLES END */

/* EXTRAS */
#not-found {
  padding: 50px;
  background-color: var(--gray);
  height: 100vh;
}

#not-found img {
  padding: 50px;
}
/* EXTRAS END */

@media (max-width: 900px) {
  .photoset-img {
    max-width: 200px;
    min-width: 100px;
    max-height: 230px;
    min-height: 50px;
    /* margin-left: 1vw; */
  }

  .quote-text {
    padding: 70px 70px 0px;
  }

  .quote-credit {
    padding-bottom: 70px;
  }

  #who-we-are {
    padding: 0px;
    width: 100vw;
  }

  .wwa-header {
    font-size: 40px;
    width: inherit;
  }

  .wwa-sub-header {
    font-size: 20px;
    width: inherit;
  }

  #wwa-text-background {
    text-align: center;
    width: inherit;
    padding: 30px 0px 30px 30px;
    margin: 0px;
    order: 2;
  }

  .wwa-picture {
    width: 100vw;
    padding: 10vw;
    order: 1;
    height: 80vw;
    object-fit: cover;
  }

  #our-purpose-text {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: inherit;
    padding: 30px 0px 30px 30px;
  }
}

nav.navbar {
  background-color: var(--charcoal) !important;
}
