@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,300&family=JetBrains+Mono:wght@300&display=swap");

#root {
  width: 100vw;
  --green: #7eba44;
  --charcoal: #3c4344;
  --gray: #dadcde;
  --light-charcoal: #828486;
  font-family: "Barlow", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* HOME PAGE */
#home {
  background-color: var(--gray);
}

#hero {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-charcoal);
}

#hero-text {
  font-size: 50px;
  color: var(--charcoal);
}

.pic-rev-div .a {
  position: absolute;
}

.pic-rev {
  width: 100vw;
  padding: 50px;
}

.pic-rev-div {
  max-width: 450px;
  max-height: 300px;
  margin: auto;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--charcoal);
  margin-top: 10px;
  margin-bottom: 10px;
}

.pic-rev-photo {
  width: 450px;
  height: 300px;
  object-fit: cover;
  opacity: 70%;
}

.pic-rev-text {
  position: absolute;
}

.pic-rev-div:hover {
  cursor: pointer;
  color: var(--green);
}

.pic-rev-div:hover .pic-rev-photo {
  opacity: 30%;
}
/* HOME PAGE END */

#nav {
  background-color: var(--charcoal);
  width: 100%;
  overflow: visible;
}

.row {
  width: 100%;
}

/* NAV */
#nav a {
  color: var(--gray);
  text-decoration: none;
}

.nav-phone-number {
  width: auto;
  font-size-adjust: calc(100vw / 8);
  margin: auto;
  color: var(--gray);
  padding: 0px 20px 0px 0px;
}

.nav-button {
  font-size: 22px;
  text-align: center;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png");
}

.dropdown-toggle {
  height: 70px;
}

li.nav-item.nav-button {
  padding: 0px 12px 0px;
  width: 120px;
}

.nav-button button:hover {
  text-decoration: underline var(--green) 2px;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline var(--green) 2px;
  cursor: pointer;
}

.nav-spacer {
  display: flex;
  width: 36vw;
}

.logo-small {
  width: 70px;
  margin: 10px 10px 10px 20px;
}

.logo-small:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#dropdownMenuButton {
  background-color: none;
  color: var(--gray) !important;
  font-size: 22px;
}

#dropdownMenuButton.btn.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  top: 50px;
  background-color: var(--gray);
  border-radius: 0px;
  border: none;
  min-width: 130px;
  max-width: 130px;
  padding: 0px;
  text-align: center;
}

.dropdown-item {
  font-size: 15px;
  color: var(--charcoal) !important;
  min-width: 130px;
  max-width: 130px;
  padding: 9px;
}

#green-stripe {
  width: 100%;
  height: 5px;
  background-color: var(--green);
}

.logo-medium {
  width: 30vw;
}

#navbarNav {
  justify-content: right !important;
}
/* NAV END */

/* FOOTER */
#footer {
  background-color: var(--gray);
  padding: 30px;
  text-align: left;
  outline: var(--light-charcoal) solid 1px;
}

#footer-logo {
  width: 100%;
  margin: 20px;
  padding: 20px;
  max-width: 130px;
}

#footer-text {
  margin: 20px;
  color: var(--charcoal);
}

#footer-text h3 {
  font-size: 20px;
}

#footer-text h1 {
  font-size: 30px;
}

.footer-small-col {
  min-width: 150px;
}

.icons {
  width: 20px;
  opacity: 70%;
  margin: 5px;
  float: right;
}

.icons:hover {
  cursor: pointer;
  opacity: 90%;
}

.icons-div {
  max-width: 100%;
  min-width: 110px;
  position: static;
  padding-top: 150px;
}

#google-icon img {
  margin-right: 2px;
}

#instagram-icon img {
  width: 18px;
  margin-top: 6px;
}
/* FOOTER END */

/* PAGE HEADERS */
#pictures {
  background-color: var(--charcoal);
  padding-bottom: 8vw;
}

#pictures-header {
  color: var(--gray);
  padding: 8vw 8vw 0vw;
}

#pictures-sub-header {
  color: var(--gray);
  font-size: 20px;
  padding: 0vw 8vw 8vw;
}

#pictures-header-div {
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1693372587/IMG_9012_iktkhf.jpg");
  opacity: 70%;
  background-size: cover;
  background-position-y: 48%;
}

#reviews {
  background-color: var(--charcoal);
}

#reviews-sub-header {
  color: var(--charcoal);
  font-size: 20px;
  width: 100vw;
  position: relative;
  top: -170px;
}

#reviews-white-box {
  width: 100%;
  height: 260px;
  background-color: white;
  position: absolute;
}

#reviews-header-div {
  opacity: 60%;
  width: 100vw;
  height: 260px;
  object-fit: cover;
  position: relative;
}

#reviews-header {
  color: var(--charcoal);
  width: 100vw;
  position: relative;
  top: -170px;
}

.tm-title {
  display: none !important;
}

.go4269172405 {
  display: none !important;
}

#who-we-are {
  background-color: var(--gray);
}

#wwa-text-background {
  width: 100vw;
  height: 430px;
  color: var(--gray);
  background-color: #3c4344b3;
  padding: 50px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  margin-bottom: 100px;
}

#kristin_and_dom img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
  float: left;
}

.wwa-header {
  font-size: 30px;
}

.about-text-header {
  margin-top: 6vw;
}

.about-text-sub {
  padding-right: 50px;
  padding-bottom: 10px;
  height: auto;
}

.wwa-sub-header {
  font-size: 20px;
}

#our-purpose-text {
  background-color: #3c4344b3;
  position: relative;
  top: -500px;
  left: 27vw;
  width: 60vw;
  height: auto;
  padding: 50px;
  color: var(--gray);
}

#wwa-our-purpose {
  height: 50vw;
}

#wwa-our-purpose img {
  margin-left: 100px;
  position: relative;
  width: 70vw;
  height: 50vw;
  object-fit: cover;
  padding: 0px 20px 10vw 10vw;
}

#what-to-expect {
  background-color: var(--light-charcoal);
}

#phc {
  background-color: var(--green);
}
/* PAGE HEADERS END */

/* PICTURES STYLES */
.photoset-img {
  min-width: 380px;
  max-width: 380px;
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
  padding: 2vw 2vw 2vw;
}

.photoset-row {
  margin: auto;
  padding: 0px calc(50vw - 380px) 0px;
}

.quote-text {
  padding: 50px 80px 0px;
  color: var(--charcoal);
}

.quote-credit {
  padding-bottom: 50px;
  color: var(--charcoal);
  opacity: 70%;
}

.quote-div {
  width: 60vw;
  background-color: #dadcde9a;
  margin-left: 20vw;
  margin-right: 20vw;
}
/* PICTURES STYLES END */

/* EXTRAS */
#not-found {
  padding: 50px;
  background-color: var(--gray);
  height: 100vh;
}

#not-found img {
  padding: 50px;
}
/* EXTRAS END */

@media (max-width: 900px) {
  .dropdown-menu {
    display: block;
    text-align: center;
  }

  .nav-item {
    text-align: center;
    margin: auto;
  }

  .nav-phone-number {
    padding-right: 50px;
  }

  .photoset-img {
    max-width: 200px;
    min-width: 180px;
    max-height: 230px;
    min-height: 200px;
    /* margin-left: 1vw; */
  }

  .photoset-row {
    padding: 0px calc(50vw - 200px) 0px;
  }

  .quote-text {
    padding: 20px 20px 0px;
  }

  .quote-credit {
    padding-bottom: 20px;
  }

  #wwa-text-background {
    padding: 10px;
    height: auto;
  }

  .about-text-header {
    font-size: 25px;
  }

  .about-text-sub {
    margin-bottom: 30px;
    font-size: 15px;
    margin-left: 20px;
  }

  .wwa-header {
    font-size: 30px;
  }

  .wwa-sub-header {
    font-size: 15px;
  }

  #kristin_and_dom img {
    height: 150px;
    width: 150px;
  }

  #our-purpose-text {
    margin: 0px;
    width: 100vw;
    padding: 20px;
    top: -60vw;
    left: 12px;
  }

  #wwa-our-purpose img {
    margin: 0px;
    position: relative;
    top: -60px;
    width: 100vw;
    height: 50vw;
    object-fit: cover;
    padding: 0px 50px;
  }

  .dropdown-menu {
    background: none;
    display: block;
    margin: auto;
  }

  .dropdown-menu:hover {
    cursor: auto;
    background: none;
  }

  .nav-button:hover {
    text-decoration: none;
  }

  .dropdown-item {
    color: var(--gray) !important;
    padding: 4px;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: var(--light-charcoal);
  }

  .dropdown-toggle {
    display: none;
  }
}

@media (max-width: 600px) {
  .icons-div {
    padding-top: 0px;
    margin-left: 12px;
  }

  #footer-logo {
    margin: 0px;
  }
}

nav.navbar {
  background-color: var(--charcoal) !important;
}
