@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,300&family=JetBrains+Mono:wght@300&display=swap");

#root {
  width: 100vw;
  --green: #407550;
  --charcoal: #3c4344;
  --gray: #dadcde;
  --gray-transparent: #dadcde90;
  --light-charcoal: #828486;
  font-family: "Barlow", sans-serif;
}

/* #3c4344; green #7eba44*/

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* HOME PAGE */
#home {
  background-color: var(--gray);
}

#hero {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1695413165/IMG_3435_fvy51o.jpg");
  background-position-y: 48%;
}

#hero-text {
  font-size: 50px;
  color: var(--charcoal);
  background-color: var(--gray-transparent);
  padding: 10px;
}

#home-about-background {
  width: 100vw;
  height: auto;
  color: var(--gray);
  background-color: #3c4344e6;
  padding: 20px 10vw 120px;
  text-align: left;
}

.pic-rev-div .a {
  position: absolute;
}

.pic-rev {
  width: 100vw;
  padding: 50px;
}

.pic-rev-div {
  max-width: 451px;
  max-height: 301px;
  margin: auto;
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px var(--green) solid;
  padding: 0px !important;
}

.pic-rev-photo {
  width: 450px;
  height: 300px;
  object-fit: cover;
  opacity: 70%;
  overflow: hidden;
}

#review-pic {
  object-position: 0px;
}

.pic-rev-text {
  position: absolute;
  background-color: var(--gray-transparent);
  padding: 10px;
}

.pic-rev-div:hover {
  cursor: pointer;
  color: var(--green);
}

.pic-rev-div:hover .pic-rev-photo {
  opacity: 30%;
}
/* HOME PAGE END */

#nav {
  background-color: var(--charcoal);
  width: 100%;
  overflow: visible;
}

.row {
  width: 100%;
}

/* NAV */
#nav a {
  color: var(--gray);
  text-decoration: none;
}

.nav-phone-number {
  width: auto;
  font-size-adjust: calc(100vw / 8);
  margin: auto;
  color: var(--gray);
  padding: 0px 20px 0px 0px;
}

.nav-button {
  font-size: 22px;
  text-align: center;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png");
}

.dropdown-toggle {
  height: 70px;
}

li.nav-item.nav-button {
  padding: 0px 12px 0px;
  width: 120px;
}

.nav-button button:hover {
  text-decoration: underline var(--green) 2px;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline var(--green) 2px;
  cursor: pointer;
}

.nav-spacer {
  display: flex;
  width: 36vw;
}

.logo-small {
  width: 70px;
  margin: 10px 10px 10px 20px;
}

.logo-small:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#dropdownMenuButton {
  background-color: none;
  color: var(--gray) !important;
  font-size: 22px;
}

#dropdownMenuButton.btn.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  top: 50px;
  background-color: var(--gray);
  border-radius: 0px;
  border: none;
  min-width: 130px;
  max-width: 130px;
  padding: 0px;
  text-align: center;
}

.dropdown-item {
  font-size: 15px;
  color: var(--charcoal) !important;
  min-width: 130px;
  max-width: 130px;
  padding: 9px;
}

#green-stripe {
  width: 100%;
  height: 5px;
  background-color: var(--green);
}

.logo-medium {
  width: 30vw;
}

#navbarNav {
  justify-content: right !important;
}
/* NAV END */

/* FOOTER */
#footer {
  background-color: var(--gray);
  padding: 30px;
  text-align: left;
  outline: var(--light-charcoal) solid 1px;
}

#footer-logo {
  width: 100%;
  margin: 20px;
  padding: 20px;
  max-width: 130px;
}

.footer-intro {
  text-align: center;
}

#design-credit {
  width: 100vw;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

#design-credit a {
  color: var(--green);
}

.footer-nav {
  margin: auto;
}

.footer-list {
  list-style: none;
}

.footer-list a {
  color: var(--green);
}

#footer-headshot {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#personal-cleaners {
  font-size: 15px;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

#footer-text {
  margin: 20px;
  color: var(--charcoal);
}

#footer-text h3 {
  font-size: 20px;
}

#footer-text h1 {
  font-size: 30px;
}

.footer-small-col {
  min-width: 150px;
}

.icons {
  width: 20px;
  opacity: 70%;
  margin: 5px;
  float: right;
}

.icons:hover {
  cursor: pointer;
  opacity: 90%;
}

.icons-div {
  max-width: 100%;
  min-width: 110px;
  position: static;
  padding-top: 150px;
}

#google-icon img {
  margin-right: 2px;
}

#instagram-icon img {
  width: 18px;
  margin-top: 6px;
}
/* FOOTER END */

/* PAGE HEADERS */
#pictures {
  background-color: var(--charcoal);
  padding-bottom: 8vw;
}

.pictures-title {
  padding: 5vw;
}

#pictures-header {
  color: var(--charcoal);
  background-color: var(--gray-transparent);
  padding: 10px;
  width: 500px;
  margin: auto;
  font-weight: bold;
  font-size: 50px;
}

#pictures-sub-header {
  color: var(--charcoal);
  background-color: var(--gray-transparent);
  padding: 10px;
  width: 52vw;
  margin: auto;
  font-size: 20px;
}

#pictures-header-div {
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1693372587/IMG_9012_iktkhf.jpg");
  opacity: 70%;
  background-size: cover;
  background-position-y: 48%;
  height: 250px;
}

#reviews {
  background-color: var(--charcoal);
}

.reviews-title {
  padding: 5vw;
}

#reviews-header-div {
  opacity: 60%;
  width: 100vw;
  height: 250px;
  object-fit: cover;
  position: relative;
  background-image: url("https://res.cloudinary.com/dawteptkh/image/upload/v1693372535/IMG_8116_chwikr.jpg");
  background-position-y: 40%;
}

#reviews-header {
  font-size: 50px;
  color: var(--charcoal);
  background-color: var(--gray-transparent);
  padding: 10px;
  width: 200px;
  margin: auto;
}

#reviews-sub-header {
  font-size: 20px;
  color: var(--charcoal);
  background-color: var(--gray-transparent);
  padding: 10px;
  width: 25vw;
  margin: auto;
}

.tm-title {
  display: none !important;
}

.go4269172405 {
  display: none !important;
}

#who-we-are {
  background-color: var(--gray);
}

#wwa-text-background {
  width: 100vw;
  height: 430px;
  color: var(--gray);
  background-color: #3c4344e6;
  padding: 50px;
  margin: 0px;
  text-align: left;
  margin-bottom: 100px;
}

#kristin_and_dom img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
  float: left;
}

.wwa-header {
  font-size: 30px;
}

.about-text-header {
  margin-top: 6vw;
}

.about-text-sub {
  padding-right: 50px;
  padding-bottom: 10px;
  height: auto;
}

.wwa-sub-header {
  font-size: 20px;
}

#our-purpose-text {
  background-color: #3c4344e6;
  position: relative;
  top: -500px;
  left: 27vw;
  width: 600px;
  height: auto;
  padding: 50px;
  color: var(--gray);
}

#wwa-our-purpose {
  height: 50vw;
}

#wwa-our-purpose img {
  margin-left: 100px;
  position: relative;
  width: 650px;
  height: 50vw;
  max-height: 550px;
  object-fit: cover;
  padding: 0px 20px 10vw 10vw;
}

#what-to-expect {
  background-color: var(--light-charcoal);
}

#phc {
  background-color: var(--green);
}
/* PAGE HEADERS END */

/* PICTURES STYLES */
.photoset-img {
  min-width: 380px;
  max-width: 380px;
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
  padding: 2vw 2vw 2vw;
}

.photoset-row {
  margin: auto;
  padding: 0px calc(50vw - 380px) 0px;
}

.quote-text {
  padding: 50px 80px 0px;
  color: var(--charcoal);
}

.quote-credit {
  padding-bottom: 50px;
  color: var(--charcoal);
  opacity: 70%;
}

.quote-div {
  width: 60vw;
  background-color: var(--gray-transparent);
  margin-left: 20vw;
  margin-right: 20vw;
}
/* PICTURES STYLES END */

/* EXTRAS */
#not-found {
  padding: 50px;
  background-color: var(--gray);
  height: 100vh;
}

#not-found img {
  padding: 50px;
}
/* EXTRAS END */

@media (max-width: 990px) {
  .pic-rev {
    margin: auto;
  }
  .dropdown-menu {
    display: block;
    text-align: center;
  }

  .nav-item {
    text-align: center;
    margin: auto;
  }

  .nav-phone-number {
    padding-right: 30px;
    padding-left: 0px;
  }

  .navbar-collapse {
    display: row;
    flex-direction: row;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .photoset-img {
    max-width: 200px;
    min-width: 180px;
    max-height: 230px;
    min-height: 200px;
    /* margin-left: 1vw; */
  }

  .photoset-row {
    padding: 0px calc(50vw - 200px) 0px;
  }

  .quote-text {
    padding: 20px 20px 0px;
  }

  .quote-credit {
    padding-bottom: 20px;
  }

  #wwa-text-background {
    padding: 10px;
    height: auto;
  }

  #home-about-background {
    padding: 10px 8vw;
  }

  #our-purpose-text {
    background-color: #3c4344e6;
    position: static;
    width: 400px;
    height: auto;
    padding: 20px;
    color: var(--gray);
    margin: auto;
    margin-top: 5vw;
  }

  #wwa-our-purpose {
    height: auto;
    display: block;
    padding-bottom: 5vw;
  }

  #wwa-our-purpose img {
    position: static;
    width: 100vw;
    height: 200px;
    object-fit: cover;
    opacity: 70%;
    padding: 0px;
    margin: 0px;
    margin-top: -100px;
  }

  .about-text-header {
    font-size: 25px;
  }

  .about-text-sub {
    margin-bottom: 30px;
    font-size: 15px;
    margin-left: 20px;
  }

  .wwa-header {
    font-size: 30px;
  }

  .wwa-sub-header {
    font-size: 15px;
  }

  #kristin_and_dom img {
    height: 150px;
    width: 150px;
  }

  .dropdown-menu {
    background: none;
    display: block;
    margin: auto;
  }

  .dropdown-menu:hover {
    cursor: auto;
    background: none;
  }

  .nav-button:hover {
    text-decoration: none;
  }

  .dropdown-item {
    color: var(--gray) !important;
    padding: 4px;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: var(--gray-transparent);
  }

  .dropdown-toggle {
    display: none;
  }

  .icons-div {
    padding: 0px;
  }
}

@media (max-width: 600px) {
  .icons-div {
    padding-top: 0px;
    margin-left: 12px;
  }

  .footer-small-col {
    order: 0;
    display: none;
  }

  .footer-intro {
    order: 1;
  }

  #footer-text {
    order: 0;
    width: 100vw;
  }

  .footer-list {
    display: none;
  }

  .icons-div {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
  }

  .footer-credit {
    order: 4;
    margin: auto;
  }

  .footer-row {
    margin: auto;
  }
}

@media (max-width: 450px) {
  #our-purpose-text {
    top: -70vw;
  }
}
/* 
@media (max-width: 380px) {
  #our-purpose-text {
    top: -41vh;
  }
} */

nav.navbar {
  background-color: var(--charcoal) !important;
}
