#root {
  --green: #7eba44;
  --charcoal: #3c4444;
  --gray: #dadcde;
  --light-charcoal: #828486;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#home {
  background-color: var(--green);
}

#nav {
  background-color: var(--charcoal);
}

#who-we-are {
  background-color: var(--gray);
}

#what-to-expect {
  background-color: var(--light-charcoal);
}

#phc {
  background-color: var(--green);
}

#pictures {
  background-color: var(--charcoal);
}

.photoset-img {
  max-width: 450px;
  max-height: 450px;
  object-fit: cover;
  padding: 3vw;
}

.photoset-row {
  margin: auto;
}

.quote-text {
  padding: 100px 100px 0px;
  color: var(--gray);
}

.quote-credit {
  padding-bottom: 100px;
  color: var(--gray);
  opacity: 70%;
}

#reviews {
  background-color: var(--gray);
}

#not-found {
  padding: 50px;
  background-color: var(--gray);
  height: 100vh;
}

#not-found img {
  padding: 50px;
}

@media (max-width: 900px) {
  .photoset-img {
    width: 200px;
    height: 250px;
    margin-left: 12vw;
  }

  .quote-text {
    padding: 70px 70px 0px;
  }
}
